# Part 0

Load both the csv file from Part 1 pr.data.0.Current and the json file from Part 2 as dataframes (Spark, Pyspark, Pandas, Koalas, etc).

In [74]:
import json
import pandas as pd

In [75]:
part_1_df = pd.read_csv(
    "bls_pub_time.series_pr_pr.data.0.Current", 
    sep="\t"
)
part_1_df.columns = ["series_id", "year", "period", "value", "footnote_codes"]

In [76]:
part_1_df

               series_id  year period    value footnote_codes
0      PRS30006011        1995    Q01    2.600            NaN
1      PRS30006011        1995    Q02    2.100            NaN
2      PRS30006011        1995    Q03    0.900            NaN
3      PRS30006011        1995    Q04    0.100            NaN
4      PRS30006011        1995    Q05    1.400            NaN
...                  ...   ...    ...      ...            ...
37234  PRS88003203        2024    Q03  116.593            NaN
37235  PRS88003203        2024    Q04  116.682            NaN
37236  PRS88003203        2024    Q05  116.686            NaN
37237  PRS88003203        2025    Q01  118.271            NaN
37238  PRS88003203        2025    Q02  118.482            NaN

[37239 rows x 5 columns]

In [77]:
part_2_data = None
with open("part_2.json", "r") as fp:
    part_2_data = json.load(fp)

In [78]:
part_2_df = pd.DataFrame(part_2_data["data"])
part_2_df.columns = ["nation_id", "nation", "year", "population"]

In [79]:
part_2_df

  nation_id         nation  year   population
0   01000US  United States  2013  316128839.0
1   01000US  United States  2014  318857056.0
2   01000US  United States  2015  321418821.0
3   01000US  United States  2016  323127515.0
4   01000US  United States  2017  325719178.0
5   01000US  United States  2018  327167439.0
6   01000US  United States  2019  328239523.0
7   01000US  United States  2021  331893745.0
8   01000US  United States  2022  333287562.0
9   01000US  United States  2023  334914896.0

# Part 1

Using the dataframe from the population data API (Part 2), generate the mean and the standard deviation of the annual US population across the years [2013, 2018] inclusive.

In [80]:
filtered_df = part_2_df.query('2013 <= year <= 2018')
mean_population = filtered_df['population'].mean()
std_population = filtered_df['population'].std()

In [81]:
print(f"""
    mean: {mean_population}
    standard deviation: {std_population}
""")

    mean: 322069808.0
    standard deviation: 4158441.040908095

# Part 2

Using the dataframe from the time-series (Part 1), For every series_id, find the best year: the year with the max/largest sum of "value" for all quarters in that year. Generate a report with each series id, the best year for that series, and the summed value for that year. For example, if the table had the following values:

series_id	year	period	value
PRS30006011	1995	Q01	1
PRS30006011	1995	Q02	2
PRS30006011	1996	Q01	3
PRS30006011	1996	Q02	4
PRS30006012	2000	Q01	0
PRS30006012	2000	Q02	8
PRS30006012	2001	Q01	2
PRS30006012	2001	Q02	3
the report would generate the following table:

series_id	year	value
PRS30006011	1996	7
PRS30006012	2000	8

In [82]:
part_1_df.columns

Index(['series_id', 'year', 'period', 'value', 'footnote_codes'], dtype='object')

In [83]:
yearly_sum = part_1_df.groupby(['series_id', 'year'])['value'].sum().reset_index()
yearly_sum = yearly_sum.rename(columns={'value': 'val_sum'})
# print(yearly_sum)
idx_max_value = yearly_sum.groupby('series_id')['val_sum'].idxmax()
# print(f"id max: {idx_max_value}")
best_year_report = yearly_sum.loc[idx_max_value].rename(columns={'val_sum': 'value'})
final_report = best_year_report[['series_id', 'year', 'value']].reset_index().drop("index", axis=1)

In [84]:
final_report

             series_id  year    value
0    PRS30006011        2022   20.500
1    PRS30006012        2022   17.100
2    PRS30006013        1998  705.895
3    PRS30006021        2010   17.700
4    PRS30006022        2010   12.400
..                 ...   ...      ...
277  PRS88003192        2002  282.800
278  PRS88003193        2024  860.838
279  PRS88003201        2022   37.200
280  PRS88003202        2022   28.700
281  PRS88003203        2024  583.441

[282 rows x 3 columns]

# Part 3

Using both dataframes from Part 1 and Part 2, generate a report that will provide the value for series_id = PRS30006032 and period = Q01 and the population for that given year (if available in the population dataset). The below table shows an example of one row that might appear in the resulting table:

series_id	year	period	value	Population
PRS30006032	2018	Q01	1.9	327167439
Hints: when working with public datasets you sometimes might have to perform some data cleaning first. For example, you might find it useful to perform trimming of whitespaces before doing any filtering or joins

In [85]:
for col in ['series_id', 'period']:
    part_1_df[col] = part_1_df[col].str.strip()
df_ts_filtered = part_1_df[
    (part_1_df['series_id'] == 'PRS30006032') & 
    (part_1_df['period'] == 'Q01')
]
df_pop_filtered = part_2_df[['year', 'population']]
report_df = df_ts_filtered.merge(
    df_pop_filtered,
    on='year',
    how='left'
)
report_df = report_df[['series_id', 'year', 'period', 'value', 'population']]

In [86]:
report_df

      series_id  year period  value   population
0   PRS30006032  1995    Q01    0.0          NaN
1   PRS30006032  1996    Q01   -4.2          NaN
2   PRS30006032  1997    Q01    2.8          NaN
3   PRS30006032  1998    Q01    0.9          NaN
4   PRS30006032  1999    Q01   -4.1          NaN
5   PRS30006032  2000    Q01    0.5          NaN
6   PRS30006032  2001    Q01   -6.3          NaN
7   PRS30006032  2002    Q01   -6.6          NaN
8   PRS30006032  2003    Q01   -5.7          NaN
9   PRS30006032  2004    Q01    2.0          NaN
10  PRS30006032  2005    Q01   -0.5          NaN
11  PRS30006032  2006    Q01    1.8          NaN
12  PRS30006032  2007    Q01   -0.8          NaN
13  PRS30006032  2008    Q01   -3.5          NaN
14  PRS30006032  2009    Q01  -21.0          NaN
15  PRS30006032  2010    Q01    3.2          NaN
16  PRS30006032  2011    Q01    1.5          NaN
17  PRS30006032  2012    Q01    2.5          NaN
18  PRS30006032  2013    Q01    0.5  316128839.0
19  PRS30006032  2014    Q01   -0.1  318857056.0
20  PRS30006032  2015    Q01   -1.7  321418821.0
21  PRS30006032  2016    Q01   -1.4  323127515.0
22  PRS30006032  2017    Q01    0.9  325719178.0
23  PRS30006032  2018    Q01    0.5  327167439.0
24  PRS30006032  2019    Q01   -1.6  328239523.0
25  PRS30006032  2020    Q01   -7.0          NaN
26  PRS30006032  2021    Q01    0.7  331893745.0
27  PRS30006032  2022    Q01    5.3  333287562.0
28  PRS30006032  2023    Q01    0.3  334914896.0
29  PRS30006032  2024    Q01   -0.7          NaN
30  PRS30006032  2025    Q01    0.4          NaN